<nav class="main-menu">
    <ul>
      <li><a href="../index.html">🏠 Accueil</a></li>
      <li><a href="fiche-git.html">🌐 Git</a></li>
      <li><a href="fiche-chocolatey.html">🍫 Chocolatey</a></li>
      <li><a href="fiche-modele.html">📄 Modèle</a></li>
      <li class="dropdown">
        <a href="#">🐧 Linux ▾</a>
        <div class="dropdown-content">
          <a href="linux-systeme.html">Système</a>
          <a href="linux-utilisateurs.html">Utilisateurs</a>
          <a href="linux-reseau.html">Réseau</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">🐍 Python ▾</a>
        <div class="dropdown-content">
          <a href="python-bases.html">Bases</a>
          <a href="python-fonctions.html">Fonctions</a>
          <a href="python-poo.html">POO</a>
        </div>
      </li>
      <li><a href="fiche-powershell.html">⚡ PowerShell</a></li>
      <li><a href="fiche-docker.html">🐳 Docker</a></li>
      <li><a href="fiche-vboxmanage-interactive.html">📘 VBoxManage Interactif</a></li>
    </ul>
  </nav>
  