<!-- partials/nav.html -->
<ul>
    <li><a href="../index.html">🏠 Accueil</a></li>
    <li><a href="fiche-git.html">🔧 Git</a></li>
    <li><a href="fiche-chocolatey.html">🍫 Chocolatey</a></li>
    <li><a href="fiche-modele.html">📋 Modèle</a></li>
    <li><a href="fiche-linux.html">🐧 Linux</a></li>
    <li><a href="fiche-python.html">🐍 Python</a></li>
    <li><a href="fiche-docker.html">🐳 Docker</a></li>
    <li><a href="fiche-powershell.html">⚡ PowerShell</a></li>
    <li><a href="fiche-vboxmanage.html">🖥️ VBoxManage</a></li>
  </ul>
  